*

!About/
!About/About.xml

!Core/
!Core/Languages
!Core/Languages/Vietnamese/
!Core/Languages/Vietnamese/**

!Royalty/
!Royalty/Languages
!Royalty/Languages/Vietnamese/
!Royalty/Languages/Vietnamese/**

!.editorconfig
!.gitignore
!LoadFolders.xml
!README.md