*

!About/
!About/About.xml

!Core/
!Core/Languages
!Core/Languages/Vietnamese/
!Core/Languages/Vietnamese/**

!Royalty/
!Royalty/Languages
!Royalty/Languages/Vietnamese/
!Royalty/Languages/Vietnamese/**

!Ideology/
!Ideology/Languages
!Ideology/Languages/Vietnamese/
!Ideology/Languages/Vietnamese/**

!Biotech/
!Biotech/Languages
!Biotech/Languages/Vietnamese/
!Biotech/Languages/Vietnamese/**

!Anomaly/
!Anomaly/Languages
!Anomaly/Languages/Vietnamese/
!Anomaly/Languages/Vietnamese/**

!.editorconfig
!.gitignore
!LoadFolders.xml
!README.md